#musicBtn {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: 0px solid #4CAF50; /* Green */
    transition-duration: 0.4s;
    cursor: pointer;
    vertical-align: top;
    /*make the button larger*/
    width: 0px;
    height: 0px;
    font-size: medium;
    font-weight: bold;
  }
  
#musicBtn:hover {
    background-color: #4caf4f00; /* Green */
    color: white;
  }

#canvas{
    border : 2px solid black;
  }