@media all and (min-width: 460px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.cards{
    height: 350px;
    width: 490px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: grid;
    grid-template-columns: repeat(7, 70px);
    padding-top: 60px;
}
.card{
    height: 70px;
    width: 70px;
    background-image: url("img/qmark.png");
    border-radius: 5px;

}
body{
    height: 100vh;
    background: linear-gradient(#4b0202ab, #ffc9c9);
}
#score{
    top: 0;
    left: 0;
    color: #000000;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-weight: bolder;
    background-image: none;
    border-radius: 5px;
}
#timer{
    color: #000000;
    font-size: 24px;
    padding-top: 4px;
    background-color: #fff;
    font-weight: bolder;
    height: 50px;
    width: 108px;
    border-radius: 10px;
    border: #000000 2px solid;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 5px;

}